**/.ipynb_checkpoints/*
*checkpoint.ipynb
*/node_modules/*
*.log
bld/
cmake-build-debug/
.idea/
Untitled*.ipynb
.icr*.cr
*cookie.tcl
*config.rb
*config.ini
build/
.idea/
.gradle/
bin/*
lib/*
share/*
etc/*
*.dmp
.fossil
.fslckout
