# Add these to your ~/.bash_aliases

set AOC "~/Src/adventofcode" # remember to change this to whatever your AOC directory is
set AOC_COOKIE "abcdef123456789"

abbr aod "cd $AOC"
alias aos="python3 solution.py < in.txt"
alias aot="echo -ne '\\e[0;34m'; python3 solution.py < test.txt; echo -ne '\\e[0m'"
alias aoc="aot; echo; aos"
alias raos="ruby solution.rb < in.txt"
alias raot="echo -ne '\\e[0;34m'; ruby solution.rb < test.txt; echo -ne '\\e[0m'"
alias raoc="aot; echo; aos"


function aoc-load 
    if [ $argv[1] ]
        curl --cookie "session=$AOC_COOKIE" https://adventofcode.com/$argv[1]/day/$argv[2]/input > in.txt
    else
        curl --cookie "session=$AOC_COOKIE" (echo (date +https://adventofcode.com/%Y/day/%d/input) | sed 's/\/0/\//g') > in.txt
    end
end
