# Add these to your ~/.bash_aliases

AOC_COOKIE="" # get this from the cookies tab in network tools on the AOC website

alias aos="python3 solution.py < in.txt"
alias aot="echo -ne '\\e[0;34m'; python3 solution.py < test.txt; echo -ne '\\e[0m'"
alias aoc="aot; echo; aos"

alias raos="ruby solution.rb < in.txt"
alias raot="echo -ne '\\e[0;34m'; ruby solution.rb < test.txt; echo -ne '\\e[0m'"
alias raoc="raot; echo; raos"




function aoc-load () {
    if [ $1 ]
    then
        curl --cookie "session=$AOC_COOKIE" https://adventofcode.com/$1/day/$2/input > in.txt
    else
        curl --cookie "session=$AOC_COOKIE" "$(echo `date +https://adventofcode.com/%Y/day/%d/input` | sed 's/\/0/\//g')" > in.txt
    fi
}
